
@{
    Layout = null;
}

@using (Html.BeginForm("ChangeMyPassword","User",FormMethod.Post))
{
    <h2>Eski Şifrenizi Giriniz</h2>
    <br />
    <input type="password" id="oldpass" name="oldpass" />
    <br />

    <h2>Yeni Şifrenizi Giriniz</h2>
    <br />
    <input type="password" id="newpass1" name="newpass1" />
    <br />

    <h2>Yeni Şifrenizi Tekrar Giriniz</h2>
    <br />
    <input type="password" id="newpass2" name="newpass2" />
    <br />

    <input type="submit" value="Şifremi Degiştir" />
}